<% content_for :nav_action_right do %>
  <% if current_user %>	
	  <%= link_to "new", new_plan_path, :class => 'nav-button' %>
	<% end %>
<%end%>
<% content_for :nav_action_left do %>
  <% if current_user %>	
	  <%= link_to "map", map_path, :class => 'nav-button' %>
	<% end %>
<%end%>
<div id="info" class="clearfix">
  <% if current_user %>
  <%= image_tag(current_user.image_uri, :class => 'user-img') %>
  <h2><%= current_user.name %></h2>
  <%= link_to "Sign out", signout_path, :id => 'signout' %>
  <% end %>
</div>

<div id="plans">
  	<div id="filters"><%=link_to 'yours', '#', :class => 'light-button' %> <%=link_to 'all', '#', :class => 'light-button' %></div>
	<h2>Plans</h2>
  	<% if Plan.count == 0 %>
    	<div class="plan-item clearfix">
      		<div class="linkr">
    			<%= link_to "", new_plan_path %> <!-- vervangen door een arrow img -->
    		</div>
      		<p>You've got no plans. Tap here to start planning!</p>
      		<p><a href="#">Need help?</a></p>
    	</div>
  	<% else %>
		<%= render @plans %>
	<% end %>
</div>