<% content_for :nav_action_right do %>
  <% if current_user %>	
	  <%= link_to "new", new_plan_path %>
	<% end %>
<%end%>
<div id="info" class="clearfix">
  <% if current_user %>
  <%= image_tag(current_user.image_uri, :class => 'user-img') %>
  <h2><%= current_user.name %></h2>
  <%= link_to "sign out", signout_path, :id => 'signout' %>
  <% end %>
</div>

<div id="plans">
  <h2>Your plans</h2>
	<%= render @plans %>
</div>