<%= form_for(@plan) do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% @plan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Title" %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label "Description" %><br />
    <%= f.text_area :description, :rows => 5 %>
  </div>
  <div class="field">
    <%= f.label "When" %><br />
    <%= f.datetime_select :starts_at %>
  </div>
<div class="field">
    <%= f.label "Address" %><br />
    <%= f.text_field :address %>
  </div>
  <div class="actions">
    <%= f.submit "Save my plan" %>
  </div>
<% end %>