<% content_for :nav_action_left do %>
  <% if current_user %>	
	  <%= link_to "back", root_path(), :class => 'nav-button' %>
	<% end %>
<%end%>
<% content_for :nav_action_right do %>
  <% if current_user %>	
	  <%= link_to "edit", edit_plan_path(@plan), :class => 'nav-button' %>
	<% end %>
<%end%>

<div class="map-image clearfix">
	<%= image_tag "http://maps.google.com/maps/api/staticmap?size=100x100&sensor=false&zoom=11&markers=#{@plan.latitude}%2C#{@plan.longitude}", :id => "location-small" %>
</div>

<header class="clearfix">
<h2><%= @plan.title %></h2>
<span class="when">
	<% if Time.now > @plan.starts_at %>
		<%= distance_of_time_in_words(Time.now, @plan.starts_at) %> ago, by <%= @plan.user.name %>
	<% else %>
		in <%= distance_of_time_in_words(Time.now, @plan.starts_at) %>, by <%= @plan.user.name %>
	<% end %>
</span>
<div class="emotion">
	<%= image_tag 'emoticon_smile.png', :class => 'emoticon' %> <%= @plan.reactions.positive.length %>
	<%= image_tag 'emoticon_unhappy.png', :class => 'emoticon' %> <%= @plan.reactions.negative.length %>
</div>
<div id="reaction">
  <% if @plan.reactions.mine(current_user).length == 0 %>
    <h3>Wanna go?</h3>
	  <%=link_to 'Yes', new_plan_reaction_path(@plan, :a => 'yes'), :class => 'light-button' %> 
	  <%=link_to 'No', new_plan_reaction_path(@plan, :a => 'no'), :class => 'light-button' %>
	<% else %>
	  <!-- If attending => you're attending else ... -->
  <% end %>
</div>
</header>
<div id="reactions">
	<h2>Description</h2>
<p><%= @plan.description %></p>
</div>
<div id="reactions">
	<h2>Reactions</h2>
	<%= render @plan.reactions %>
</div>

