<!DOCTYPE html>
<html>
<head>
  <title>PlanB</title>
  <%= stylesheet_link_tag 'reset.css', 'application.css' %>
  <%= javascript_include_tag :defaults, 'add2home.js' %>
  <%= csrf_meta_tag %>
  <%= render "layouts/meta"%>
  <%= yield :head %>
</head>
<body>
	<div id="container">
		<div id="app-bar">
		  <div id="action-left">
		    <%= yield :nav_action_left %>
		  </div>
		  <div id="action-right">
		    <%= yield :nav_action_right %>
		  </div>
		  <div id="logo">
		    <%= link_to image_tag("planb-logo-pink.png", :id => 'planblogo'), root_path %>
		  </div>

		</div>
		<% flash.each do |name, msg| %>
			<%= content_tag :div, msg, :id => "flash_#{name}" %>
		<% end %>
		<div id="content">
			<% if !current_user %>
				<%= link_to(image_tag("fb-connect-large.png"), "/auth/facebook", :id => 'fb-button') %>
			<% else %>
				<%= yield %>
			<% end %>
		</div>
	</div>
	<%= yield :scripts %>
</body>
</html>
